.vscode/**
.git/**
src/**
test/**
tools/**
out/**
node_modules/**
prompts
check_duplicate_ids.py
debug.log
docs/**
OpenSAGE/**
test/**
images/**
!images/icon.png
**/*.map
tsconfig.json
esbuild.mjs
package-lock.json
